In [36]:
import os
from google.cloud import bigquery
from google.oauth2 import service_account

from google.cloud import bigquery
from google.oauth2 import service_account

import pandas as pd
import matplotlib.pyplot as plt

In [6]:
key_path = '../raw_data/skyscanner-insights-343713-06a72b2724ca.json'

# [START bigquery_client_json_credentials]

# TODO(developer): Set key_path to the path to the service account key
#                  file.
# key_path = "path/to/service_account.json"

credentials = service_account.Credentials.from_service_account_file(
    key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

client = bigquery.Client(credentials=credentials, project=credentials.project_id,)
# [END bigquery_client_json_credentials]

In [12]:
# query = '''SELECT * FROM `skyscanner-insights-343713.raw_skyscanner_data_frankfurt.skyscanner_redirect_data_v5`
# WHERE Timestamp BETWEEN DATETIME("2023-08-17")
# AND DATETIME_ADD("2023-08-18", INTERVAL 1 DAY) and Leg_0_StopsCount is not null'''

query = '''Select * from `skyscanner-insights-343713.raw_skyscanner_data_frankfurt.skyscanner_redirect_data_v5`
WHERE Timestamp BETWEEN DATETIME("2023-08-17")AND DATETIME_ADD("2023-08-18", INTERVAL 1 DAY)
ORDER BY RAND()
LIMIT 200000
'''

In [13]:
query_job = client.query(query)

results = query_job.result()

the_data = results.to_dataframe()

In [38]:
the_data['ItinerarySortType'].value_counts(normalize=True)

BEST                      0.535595
                          0.359240
CHEAPEST                  0.095055
FASTEST                   0.008210
DEPARTURE_OUTBOUND_ASC    0.001850
DEPARTURE_INBOUND_ASC     0.000050
Name: ItinerarySortType, dtype: float64

In [54]:
the_data['CabinClass'].value_counts(normalize=True)

ECONOMY           0.986870
BUSINESS          0.009385
PREMIUMECONOMY    0.003325
FIRST             0.000420
Name: CabinClass, dtype: float64

In [59]:
colums_subset = ['Market', 'OriginAirport', 'DestinationAirport', 'Locale', 'CabinClass', 'Kind',
          'TripLengthNights', 'TravelType', 'TravelDistanceKm', 'TravelHorizonDays', 'RedirectType', 'ItineraryPosition', 'ItinerarySortType',
          'PriceCustomCurrencyPerPax',
          'Leg_0_StopsCount', 'Leg_1_StopsCount',
          'Leg_0_segment_0_OperatingCarrierIATA', 'Leg_0_segment_1_OperatingCarrierIATA', 'Leg_0_segment_2_OperatingCarrierIATA', 'Leg_0_segment_3_OperatingCarrierIATA',
          'Leg_1_segment_0_OperatingCarrierIATA', 'Leg_1_segment_1_OperatingCarrierIATA', 'Leg_1_segment_2_OperatingCarrierIATA', 'Leg_1_segment_3_OperatingCarrierIATA',
          'Leg_0_DurationMin', 'Leg_1_DurationMin'
]

all_columns = list(the_data.columns)

In [64]:
remaining_columns = list(set(all_columns) - set(colums_subset))
remaining_columns

['Leg_0_segment_3_DepartureTimestamp',
 'Leg_0_segment_2_ArrivalTimestamp',
 'Timestamp',
 'Leg_0_segment_0_OriginName',
 'Leg_1_segment_2_DestinationIATA',
 'UserCountryName',
 'SelfTransfer',
 'Leg_1_segment_2_TravelDistanceKm',
 'ProviderRank',
 'Leg_1_segment_0_TravelDistanceKm',
 'Leg_0_segment_3_DestinationIATA',
 'ProviderType',
 'ProviderPreference',
 'PassengerChild',
 'Leg_1_segment_0_OriginName',
 'ItineraryLowestPriceRatio',
 'Leg_1_segment_1_OriginName',
 'Leg_1_segment_1_ArrivalTimestamp',
 'Leg_1_segment_3_DestinationName',
 'Leg_0_segment_2_OriginIATA',
 'Guid',
 'Leg_1_segment_2_DurationMin',
 'Leg_0_segment_1_DestinationIATA',
 'Leg_0_segment_0_DepartureTimestamp',
 'Leg_0_segment_2_FlightNumber',
 'SessionId',
 'PassengerInfant',
 'Leg_1_segment_3_DepartureTimestamp',
 'PriceUserCurrency',
 'Leg_1_segment_1_MarketingCarrierIATA',
 'BrowserVersion',
 'Leg_0_segment_3_OriginIATA',
 'Leg_0_segment_3_DestinationName',
 'Leg_1_segment_2_OriginName',
 'Leg_1_segment_2_ArrivalTimestamp',
 'Leg_0_segment_2_MarketingCarrierIATA',
 'OSVersion',
 'ThemeMountainWeight',
 'DestinationCity',
 'Currency',
 'DestinationCountry',
 'ThemeCultureWeight',
 'Leg_0_segment_1_ArrivalTimestamp',
 'Leg_0_segment_1_FlightNumber',
 'Leg_0_segment_1_DurationMin',
 'CorrelationId',
 'Leg_1_segment_3_OriginName',
 'Leg_0_segment_2_DurationMin',
 'Leg_0_segment_3_ArrivalTimestamp',
 'Leg_1_segment_2_DepartureTimestamp',
 'Leg_1_segment_1_DepartureTimestamp',
 'Leg_0_segment_3_OriginName',
 'UserCityName',
 'Leg_0_segment_1_MarketingCarrierIATA',
 'Leg_0_segment_0_FlightNumber',
 'LegsCount',
 'Leg_1_segment_1_OriginIATA',
 'Leg_1_segment_2_DestinationName',
 'Leg_1_segment_2_OriginIATA',
 'Leg_1_segment_0_DurationMin',
 'Leg_0_segment_2_DepartureTimestamp',
 'Leg_1_segment_0_DepartureTimestamp',
 'ReturnDate',
 'Leg_1_segment_3_DestinationIATA',
 'Leg_1_segment_0_FlightNumber',
 'OriginCountry',
 'Leg_1_segment_3_FlightNumber',
 'ThemeFoodWeight',
 'UserCountryCode',
 'Leg_0_segment_0_DurationMin',
 'UserLatitude',
 'Leg_0_segment_3_MarketingCarrierIATA',
 'ThemeArtWeight',
 'Leg_0_segment_1_DepartureTimestamp',
 'Leg_1_segment_1_FlightNumber',
 'Device',
 'Leg_0_segment_1_DestinationName',
 'Leg_0_segment_1_OriginIATA',
 'DepartureDate',
 'Leg_1_segment_0_DestinationName',
 'Leg_1_segment_1_DurationMin',
 'PassengerPreference',
 'Leg_0_segment_0_TravelDistanceKm',
 'Leg_0_segment_3_FlightNumber',
 'Leg_1_segment_3_DurationMin',
 'Leg_0_segment_0_DestinationIATA',
 'Leg_1_segment_3_MarketingCarrierIATA',
 'Leg_0_segment_2_DestinationName',
 'BrowserName',
 'ThemeCityWeight',
 'Leg_0_segment_0_DestinationName',
 'UserDistrictName',
 'OSName',
 'PriceCustomCurrency',
 'Leg_1_segment_2_MarketingCarrierIATA',
 'Leg_1_segment_3_OriginIATA',
 'PassengerAdult',
 'Leg_0_segment_1_TravelDistanceKm',
 'Leg_0_segment_3_TravelDistanceKm',
 'Leg_1_segment_0_OriginIATA',
 'SearchLowestPriceRatio',
 'Leg_0_segment_1_OriginName',
 'Leg_0_segment_0_ArrivalTimestamp',
 'Leg_1_segment_2_FlightNumber',
 'Leg_1_segment_1_DestinationIATA',
 'Leg_0_segment_2_TravelDistanceKm',
 'PriceUserCurrencyPerPax',
 'Leg_0_segment_2_DestinationIATA',
 'ThemeBeachWeight',
 'ThemeAdventureWeight',
 'UserRegionName',
 'Leg_1_segment_1_DestinationName',
 'Leg_1_segment_0_DestinationIATA',
 'ProviderIntel',
 'Leg_0_segment_2_OriginName',
 'Leg_1_segment_3_ArrivalTimestamp',
 'Leg_1_segment_3_TravelDistanceKm',
 'UserLongitude',
 'ThemeRomanceWeight',
 'Leg_1_segment_1_TravelDistanceKm',
 'Leg_0_segment_3_DurationMin',
 'Leg_0_segment_0_OriginIATA',
 'Leg_1_segment_0_ArrivalTimestamp',
 'Leg_0_segment_0_MarketingCarrierIATA',
 'Leg_1_segment_0_MarketingCarrierIATA',
 'OriginCity',
 'ThemeRelaxWeight']

In [73]:
data_subset = the_data[colums_subset].copy()
data_subset

,Market,OriginAirport,DestinationAirport,Locale,CabinClass,Kind,TripLengthNights,TravelType,TravelDistanceKm,TravelHorizonDays,...,Leg_0_segment_0_OperatingCarrierIATA,Leg_0_segment_1_OperatingCarrierIATA,Leg_0_segment_2_OperatingCarrierIATA,Leg_0_segment_3_OperatingCarrierIATA,Leg_1_segment_0_OperatingCarrierIATA,Leg_1_segment_1_OperatingCarrierIATA,Leg_1_segment_2_OperatingCarrierIATA,Leg_1_segment_3_OperatingCarrierIATA,Leg_0_DurationMin,Leg_1_DurationMin
0,UK,MAN,MXP,en-GB,ECONOMY,ONE_WAY,NaN,INTERNATIONAL,1168.0,26,...,FR,,,,,,,,130,NaN
1,SA,CAI,RUH,en-GB,ECONOMY,ONE_WAY,NaN,INTERNATIONAL,1611.0,34,...,SV,,,,,,,,175,NaN
2,AT,VIE,BCN,de-DE,ECONOMY,RETURN,2.0,INTERNATIONAL,1369.0,119,...,LW,,,,LW,,,,140,150.0
3,IN,BLR,VTZ,en-GB,ECONOMY,ONE_WAY,NaN,DOMESTIC,776.0,18,...,I5,,,,,,,,80,NaN
4,ES,MAD,BVA,es-ES,ECONOMY,RETURN,2.0,INTERNATIONAL,1092.0,30,...,FR,,,,FR,,,,125,130.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,PT,OPO,FAO,pt-PT,ECONOMY,RETURN,4.0,DOMESTIC,474.0,10,...,FR,,,,FR,,,,75,70.0
199996,JP,HND,ITM,ja-JP,ECONOMY,ONE_WAY,NaN,DOMESTIC,402.0,0,...,JL,,,,,,,,65,NaN
199997,IN,BLR,IXR,en-GB,ECONOMY,ONE_WAY,NaN,DOMESTIC,1382.0,14,...,6E,,,,,,,,150,NaN
199998,KR,ICN,KIX,ko-KR,ECONOMY,RETURN,4.0,INTERNATIONAL,861.0,53,...,OZ,,,,OZ,,,,105,110.0
199999,BR,REC,FEN,pt-BR,ECONOMY,RETURN,5.0,DOMESTIC,549.0,99,...,2Z,,,,2Z,,,,100,85.0

In [74]:
data_subset['OD'] = data_subset['OriginAirport'] + data_subset['DestinationAirport']

In [76]:
data_subset[data_subset['CabinClass'] == 'ECONOMY']

,Market,OriginAirport,DestinationAirport,Locale,CabinClass,Kind,TripLengthNights,TravelType,TravelDistanceKm,TravelHorizonDays,...,Leg_0_segment_1_OperatingCarrierIATA,Leg_0_segment_2_OperatingCarrierIATA,Leg_0_segment_3_OperatingCarrierIATA,Leg_1_segment_0_OperatingCarrierIATA,Leg_1_segment_1_OperatingCarrierIATA,Leg_1_segment_2_OperatingCarrierIATA,Leg_1_segment_3_OperatingCarrierIATA,Leg_0_DurationMin,Leg_1_DurationMin,OD
0,UK,MAN,MXP,en-GB,ECONOMY,ONE_WAY,NaN,INTERNATIONAL,1168.0,26,...,,,,,,,,130,NaN,MANMXP
1,SA,CAI,RUH,en-GB,ECONOMY,ONE_WAY,NaN,INTERNATIONAL,1611.0,34,...,,,,,,,,175,NaN,CAIRUH
2,AT,VIE,BCN,de-DE,ECONOMY,RETURN,2.0,INTERNATIONAL,1369.0,119,...,,,,LW,,,,140,150.0,VIEBCN
3,IN,BLR,VTZ,en-GB,ECONOMY,ONE_WAY,NaN,DOMESTIC,776.0,18,...,,,,,,,,80,NaN,BLRVTZ
4,ES,MAD,BVA,es-ES,ECONOMY,RETURN,2.0,INTERNATIONAL,1092.0,30,...,,,,FR,,,,125,130.0,MADBVA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,PT,OPO,FAO,pt-PT,ECONOMY,RETURN,4.0,DOMESTIC,474.0,10,...,,,,FR,,,,75,70.0,OPOFAO
199996,JP,HND,ITM,ja-JP,ECONOMY,ONE_WAY,NaN,DOMESTIC,402.0,0,...,,,,,,,,65,NaN,HNDITM
199997,IN,BLR,IXR,en-GB,ECONOMY,ONE_WAY,NaN,DOMESTIC,1382.0,14,...,,,,,,,,150,NaN,BLRIXR
199998,KR,ICN,KIX,ko-KR,ECONOMY,RETURN,4.0,INTERNATIONAL,861.0,53,...,,,,OZ,,,,105,110.0,ICNKIX
199999,BR,REC,FEN,pt-BR,ECONOMY,RETURN,5.0,DOMESTIC,549.0,99,...,,,,2Z,,,,100,85.0,RECFEN

In [77]:
data_subset['Leg_0_segment_0_OperatingCarrierIATA'].value_counts(normalize=True)

FR    0.046690
      0.043260
6E    0.036975
U2    0.035780
UK    0.023045
        ...
TJ    0.000005
KY    0.000005
6O    0.000005
S8    0.000005
RC    0.000005
Name: Leg_0_segment_0_OperatingCarrierIATA, Length: 550, dtype: float64