In [ ]:
import os
import sys
sys.path.insert(0, '..')

from google.cloud import bigquery
from google.oauth2 import service_account

from google.cloud import bigquery
from google.oauth2 import service_account

import pandas as pd
import matplotlib.pyplot as plt
from decouple import config
import json

from authenticate_service_account import *

In [ ]:
# key_path = os.environ.get("KEY_PATH")

# credentials = service_account.Credentials.from_service_account_file(
#         key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],
#     )

# client = bigquery.Client(credentials=credentials, project=credentials.project_id,)

In [ ]:
client = main()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/XavierLooyens/code/LaGenace/OptiFlyAi/raw_data/skyscanner-insights-343713-06a72b2724ca.json'

In [ ]:
# query = '''SELECT * FROM `skyscanner-insights-343713.raw_skyscanner_data_frankfurt.skyscanner_redirect_data_v5`
# WHERE Timestamp BETWEEN DATETIME("2023-08-17")
# AND DATETIME_ADD("2023-08-18", INTERVAL 1 DAY) and Leg_0_StopsCount is not null'''

query = '''Select * from `skyscanner-insights-343713.raw_skyscanner_data_frankfurt.skyscanner_redirect_data_v5`
WHERE Timestamp BETWEEN DATETIME("2023-08-17")AND DATETIME_ADD("2023-08-18", INTERVAL 1 DAY)
AND CabinClass = 'ECONOMY'
ORDER BY RAND()
LIMIT 200000
'''

In [6]:
query_job = client.query(query)

In [7]:

results = query_job.result()

the_data = results.to_dataframe()

In [8]:
the_data

,Guid,Timestamp,Market,Locale,Currency,OriginAirport,OriginCity,OriginCountry,DestinationAirport,DestinationCity,...,Leg_1_segment_3_OriginName,Leg_1_segment_3_DestinationIATA,Leg_1_segment_3_DestinationName,Leg_1_segment_3_DepartureTimestamp,Leg_1_segment_3_ArrivalTimestamp,Leg_1_segment_3_MarketingCarrierIATA,Leg_1_segment_3_OperatingCarrierIATA,Leg_1_segment_3_FlightNumber,Leg_1_segment_3_DurationMin,Leg_1_segment_3_TravelDistanceKm
0,e1f7e33e-3d22-11ee-b456-4a6561fe2b60,2023-08-17 17:24:12,KR,ko-KR,KRW,SIN,SIN,SG,KUL,KUL,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>
1,3d2837e4-3cf2-11ee-87ac-622b07065f7e,2023-08-17 11:36:00,UK,en-GB,GBP,LTN,LON,GB,CDG,PAR,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>
2,02d04be0-3d0b-11ee-96da-7e30eda1f70e,2023-08-17 14:33:19,UK,en-GB,GBP,BCN,BCN,ES,MAD,MAD,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>
3,90f701b4-3cef-11ee-aa11-1e56cc786577,2023-08-17 11:16:52,UK,en-GB,GBP,LTN,LON,GB,IST,IST,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>
4,d030040e-3d24-11ee-ad18-f617a1c8be6b,2023-08-17 17:38:01,UK,en-GB,GBP,MAN,MAN,GB,DXB,DXB,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0bb20970-3d28-11ee-a100-02ed2feeef17,2023-08-17 18:01:09,JP,ja-JP,JPY,NRT,TYO,JP,ASJ,ASJ,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>
199996,dbd146a2-3da0-11ee-995f-ae7f3ff27974,2023-08-18 08:25:58,IN,en-GB,INR,BOM,BOM,IN,LBA,LBA,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>
199997,f2c9635e-3d27-11ee-b3e2-def2479b3541,2023-08-17 18:00:28,IL,he-IL,USD,TLV,TLV,IL,BUD,BUD,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>
199998,1156ab8c-3d0b-11ee-ad93-9e6f665d1d1c,2023-08-17 14:33:43,IT,it-IT,EUR,FCO,ROM,IT,KBL,KBL,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>
199999,70a7dad4-3dce-11ee-b558-5e12bca5fe9b,2023-08-18 13:52:15,IL,en-US,USD,TLV,TLV,IL,BCN,BCN,...,,,,NaT,NaT,,,<NA>,<NA>,<NA>

In [53]:
colums_subset = ['Market', 'OriginAirport', 'OriginCity', 'DestinationAirport', 'DestinationCity', 'Locale', 'CabinClass', 'Kind',
          'TripLengthNights', 'TravelType', 'TravelDistanceKm', 'TravelHorizonDays', 'RedirectType', 'ItineraryPosition', 'ItinerarySortType',
          'PriceCustomCurrencyPerPax',
          'Leg_0_StopsCount', 'Leg_1_StopsCount',
          'Leg_0_segment_0_OperatingCarrierIATA', 'Leg_0_segment_1_OperatingCarrierIATA', 'Leg_0_segment_2_OperatingCarrierIATA', 'Leg_0_segment_3_OperatingCarrierIATA',
          'Leg_1_segment_0_OperatingCarrierIATA', 'Leg_1_segment_1_OperatingCarrierIATA', 'Leg_1_segment_2_OperatingCarrierIATA', 'Leg_1_segment_3_OperatingCarrierIATA',
          'Leg_0_DurationMin', 'Leg_1_DurationMin'
]

all_columns = list(the_data.columns)

In [54]:
remaining_columns = list(set(all_columns) - set(colums_subset))
remaining_columns

['PassengerPreference',
 'Leg_0_segment_0_OriginName',
 'ThemeRomanceWeight',
 'Leg_0_segment_1_FlightNumber',
 'Leg_0_segment_3_TravelDistanceKm',
 'Leg_0_segment_0_ArrivalTimestamp',
 'UserDistrictName',
 'Leg_1_segment_2_DestinationName',
 'Leg_1_segment_0_MarketingCarrierIATA',
 'PriceCustomCurrency',
 'Leg_0_segment_2_MarketingCarrierIATA',
 'Leg_0_segment_2_OriginName',
 'Leg_0_segment_1_MarketingCarrierIATA',
 'Leg_1_segment_1_FlightNumber',
 'Leg_0_segment_2_FlightNumber',
 'Guid',
 'Leg_0_segment_3_MarketingCarrierIATA',
 'SearchLowestPriceRatio',
 'Leg_1_segment_1_DurationMin',
 'Leg_0_segment_1_TravelDistanceKm',
 'Leg_0_segment_3_OriginName',
 'Leg_1_segment_2_OriginIATA',
 'UserCountryCode',
 'DepartureDate',
 'ProviderIntel',
 'Leg_1_segment_3_TravelDistanceKm',
 'ThemeArtWeight',
 'Leg_1_segment_0_ArrivalTimestamp',
 'Leg_0_segment_2_OriginIATA',
 'Leg_1_segment_0_FlightNumber',
 'DestinationCountry',
 'Leg_1_segment_3_DestinationName',
 'ProviderRank',
 'Leg_1_segment_0_OriginName',
 'OriginCountry',
 'Leg_0_segment_0_DestinationName',
 'Leg_0_segment_1_DurationMin',
 'Leg_1_segment_0_DepartureTimestamp',
 'Leg_1_segment_3_DurationMin',
 'Leg_1_segment_3_MarketingCarrierIATA',
 'UserLatitude',
 'Leg_1_segment_1_DestinationIATA',
 'Leg_1_segment_2_FlightNumber',
 'Leg_0_segment_3_OriginIATA',
 'ThemeRelaxWeight',
 'Leg_1_segment_2_MarketingCarrierIATA',
 'Leg_0_segment_3_DurationMin',
 'Leg_1_segment_1_OriginIATA',
 'ThemeCityWeight',
 'Leg_0_segment_2_DestinationIATA',
 'Leg_1_segment_1_DepartureTimestamp',
 'Leg_1_segment_0_DestinationIATA',
 'Leg_1_segment_2_TravelDistanceKm',
 'Leg_1_segment_2_OriginName',
 'Leg_1_segment_3_DepartureTimestamp',
 'Leg_1_segment_2_DurationMin',
 'Leg_0_segment_1_ArrivalTimestamp',
 'ProviderPreference',
 'ThemeBeachWeight',
 'Leg_1_segment_2_ArrivalTimestamp',
 'CorrelationId',
 'Leg_0_segment_3_DepartureTimestamp',
 'Leg_0_segment_3_FlightNumber',
 'Device',
 'Leg_0_segment_3_ArrivalTimestamp',
 'Leg_1_segment_3_ArrivalTimestamp',
 'Leg_1_segment_2_DestinationIATA',
 'Leg_1_segment_3_OriginIATA',
 'ThemeAdventureWeight',
 'Leg_0_segment_1_DestinationName',
 'Leg_0_segment_0_MarketingCarrierIATA',
 'Leg_0_segment_1_DestinationIATA',
 'Leg_0_segment_2_ArrivalTimestamp',
 'Leg_0_segment_0_DestinationIATA',
 'UserCityName',
 'OSName',
 'SelfTransfer',
 'ItineraryLowestPriceRatio',
 'BrowserName',
 'Leg_1_segment_1_MarketingCarrierIATA',
 'Leg_1_segment_3_FlightNumber',
 'Leg_1_segment_1_OriginName',
 'Timestamp',
 'ThemeCultureWeight',
 'Leg_0_segment_0_TravelDistanceKm',
 'Leg_1_segment_2_DepartureTimestamp',
 'Leg_0_segment_3_DestinationIATA',
 'ReturnDate',
 'UserLongitude',
 'PassengerChild',
 'BrowserVersion',
 'Leg_1_segment_3_DestinationIATA',
 'PriceUserCurrencyPerPax',
 'Leg_0_segment_2_TravelDistanceKm',
 'Leg_0_segment_1_DepartureTimestamp',
 'Leg_0_segment_0_FlightNumber',
 'Leg_1_segment_1_ArrivalTimestamp',
 'Leg_0_segment_2_DurationMin',
 'Leg_0_segment_3_DestinationName',
 'UserRegionName',
 'Leg_1_segment_1_TravelDistanceKm',
 'PriceUserCurrency',
 'Leg_1_segment_3_OriginName',
 'Leg_1_segment_1_DestinationName',
 'Leg_0_segment_1_OriginName',
 'ThemeFoodWeight',
 'Leg_0_segment_0_DepartureTimestamp',
 'Leg_0_segment_0_DurationMin',
 'Leg_1_segment_0_OriginIATA',
 'Leg_1_segment_0_DestinationName',
 'PassengerAdult',
 'Currency',
 'Leg_1_segment_0_TravelDistanceKm',
 'ThemeMountainWeight',
 'LegsCount',
 'UserCountryName',
 'Leg_0_segment_0_OriginIATA',
 'Leg_0_segment_2_DepartureTimestamp',
 'Leg_1_segment_0_DurationMin',
 'PassengerInfant',
 'SessionId',
 'Leg_0_segment_1_OriginIATA',
 'OSVersion',
 'ProviderType',
 'Leg_0_segment_2_DestinationName']

In [55]:
data_subset = the_data[colums_subset].copy()
data_subset

,Market,OriginAirport,OriginCity,DestinationAirport,DestinationCity,Locale,CabinClass,Kind,TripLengthNights,TravelType,...,Leg_0_segment_0_OperatingCarrierIATA,Leg_0_segment_1_OperatingCarrierIATA,Leg_0_segment_2_OperatingCarrierIATA,Leg_0_segment_3_OperatingCarrierIATA,Leg_1_segment_0_OperatingCarrierIATA,Leg_1_segment_1_OperatingCarrierIATA,Leg_1_segment_2_OperatingCarrierIATA,Leg_1_segment_3_OperatingCarrierIATA,Leg_0_DurationMin,Leg_1_DurationMin
0,KR,SIN,SIN,KUL,KUL,ko-KR,ECONOMY,ONE_WAY,<NA>,INTERNATIONAL,...,AK,,,,,,,,65,<NA>
1,UK,LTN,LON,CDG,PAR,en-GB,ECONOMY,RETURN,1,INTERNATIONAL,...,U2,,,,U2,,,,80,75
2,UK,BCN,BCN,MAD,MAD,en-GB,ECONOMY,ONE_WAY,<NA>,DOMESTIC,...,VY,,,,,,,,85,<NA>
3,UK,LTN,LON,IST,IST,en-GB,ECONOMY,ONE_WAY,<NA>,INTERNATIONAL,...,W9,,,,,,,,235,<NA>
4,UK,MAN,MAN,DXB,DXB,en-GB,ECONOMY,RETURN,7,INTERNATIONAL,...,EK,,,,EK,,,,420,490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,JP,NRT,TYO,ASJ,ASJ,ja-JP,ECONOMY,RETURN,2,DOMESTIC,...,MM,,,,MM,,,,160,130
199996,IN,BOM,BOM,LBA,LBA,en-GB,ECONOMY,ONE_WAY,<NA>,INTERNATIONAL,...,AF,KL,WA,,,,,,910,<NA>
199997,IL,TLV,TLV,BUD,BUD,he-IL,ECONOMY,RETURN,4,INTERNATIONAL,...,LY,,,,LY,,,,200,190
199998,IT,FCO,ROM,KBL,KBL,it-IT,ECONOMY,RETURN,33,INTERNATIONAL,...,W4,RQ,,,RQ,W4,W4,,905,1545
199999,IL,TLV,TLV,BCN,BCN,en-US,ECONOMY,ONE_WAY,<NA>,INTERNATIONAL,...,LY,,,,,,,,280,<NA>

## Creating OD column

In [56]:
data_subset['OD_Airport'] = data_subset['OriginAirport'] + data_subset['DestinationAirport']

data_subset['OD_City'] = data_subset['OriginCity'] + data_subset['DestinationCity']

## User itinierary sort preferences

In [57]:
the_data['ItinerarySortType'].value_counts(normalize=True)

ItinerarySortType
BEST                      0.537610
                          0.356510
CHEAPEST                  0.095935
FASTEST                   0.008020
DEPARTURE_OUTBOUND_ASC    0.001860
DEPARTURE_INBOUND_ASC     0.000060
CHE                       0.000005
Name: proportion, dtype: float64

## Number of flights per airline

In [58]:
data_subset['Leg_0_segment_0_OperatingCarrierIATA'].value_counts(normalize=True)[:30]

Leg_0_segment_0_OperatingCarrierIATA
FR    0.047340
      0.044370
6E    0.037395
U2    0.036365
UK    0.022915
VY    0.021265
TK    0.019865
EK    0.019330
W4    0.018735
PC    0.017435
LH    0.016455
AI    0.016445
W6    0.016305
G3    0.016275
BA    0.015165
QR    0.014500
JJ    0.013215
EY    0.010225
SG    0.010195
7C    0.009935
OZ    0.009795
SV    0.009470
CX    0.009350
RR    0.009290
TW    0.009145
QP    0.009035
FD    0.008780
AF    0.008745
LJ    0.008500
VJ    0.008475
Name: proportion, dtype: float64

## Number of Ads in the dataset

The answer is none

In [59]:
data_subset['RedirectType'].value_counts()

RedirectType
           199857
ORGANIC       143
Name: count, dtype: int64

## Frequency of flight choice based of itinierary position

In [60]:
data_subset["ItineraryPosition"].value_counts(normalize=True)[:10]

ItineraryPosition
0    0.602608
1     0.15577
2    0.078507
3    0.047853
4    0.024568
5    0.017985
6    0.013625
7    0.011511
8    0.007251
9    0.004757
Name: proportion, dtype: Float64

## Number of return/one-way flights

In [61]:
data_subset['Kind'].value_counts(normalize=True)

Kind
RETURN        0.53804
ONE_WAY       0.44834
MULTI_CITY    0.01362
Name: proportion, dtype: float64

## Exploring single itiniraries

In [78]:
london_milan_mask = data_subset['OD_City'] == 'LONMIL'
london_ny_mask = data_subset['OD_City'] == 'LONNYC'

In [84]:
ldn_ny = data_subset[london_ny_mask]
ldn_ny

,Market,OriginAirport,OriginCity,DestinationAirport,DestinationCity,Locale,CabinClass,Kind,TripLengthNights,TravelType,...,Leg_0_segment_2_OperatingCarrierIATA,Leg_0_segment_3_OperatingCarrierIATA,Leg_1_segment_0_OperatingCarrierIATA,Leg_1_segment_1_OperatingCarrierIATA,Leg_1_segment_2_OperatingCarrierIATA,Leg_1_segment_3_OperatingCarrierIATA,Leg_0_DurationMin,Leg_1_DurationMin,OD_Airport,OD_City
201,UK,LGW,LON,JFK,NYC,en-GB,ECONOMY,RETURN,3,INTERNATIONAL,...,,,Z0,,,,495,410,LGWJFK,LONNYC
242,UK,LHR,LON,JFK,NYC,en-GB,ECONOMY,RETURN,10,INTERNATIONAL,...,,,BA,,,,476,425,LHRJFK,LONNYC
878,UK,LGW,LON,JFK,NYC,en-GB,ECONOMY,ONE_WAY,<NA>,INTERNATIONAL,...,,,,,,,465,<NA>,LGWJFK,LONNYC
1099,UK,LHR,LON,JFK,NYC,en-GB,ECONOMY,RETURN,8,INTERNATIONAL,...,,,AY,BA,,,1295,814,LHRJFK,LONNYC
1486,UK,LGW,LON,JFK,NYC,en-GB,ECONOMY,RETURN,19,INTERNATIONAL,...,,,AA,,,,480,431,LGWJFK,LONNYC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197879,UK,LGW,LON,JFK,NYC,en-GB,ECONOMY,RETURN,3,INTERNATIONAL,...,,,Z0,,,,495,410,LGWJFK,LONNYC
197937,UK,LHR,LON,JFK,NYC,en-GB,ECONOMY,RETURN,4,INTERNATIONAL,...,,,B6,,,,495,445,LHRJFK,LONNYC
198968,UK,LHR,LON,JFK,NYC,en-GB,ECONOMY,RETURN,8,INTERNATIONAL,...,,,B6,,,,485,445,LHRJFK,LONNYC
199322,UK,LHR,LON,EWR,NYC,en-GB,ECONOMY,RETURN,8,INTERNATIONAL,...,,,BA,,,,465,415,LHREWR,LONNYC
199616,UK,LGW,LON,JFK,NYC,en-GB,ECONOMY,RETURN,16,INTERNATIONAL,...,,,AA,,,,480,417,LGWJFK,LONNYC

In [86]:
the_data.to_csv('../raw_data/rand_200k_sample')